/bin/
public String freqToken(List<String> lines, List<String> tokens) { 
		int maxOccuringCharacter;
		for (int element: lines.size()) {
			if (lines.getValue() == maxOccuringCharacter);
			tokens.add(lines.get(element));
		}
		for (int value = 0; value < lines.size(); value++) {
			String line = lines.get(value);
			String actualQuantity = "";
			int actualFreqCount;
		for (int item = 0; item < line.length(); item++) {
			int tempFreqCount;
			String tempElement = line(item);
			for (int element; element < line.length(); element++)
				if (line(element).equals(tempElement))
					tempFreqCount++;
				if (tempFreqCount >= actualFreqCount) {
					actualQuantity = tempElement;
					actualFreqCount = tempFreqCount;
				}
			}
			System.out.println(actualFreqCount);
		}
	} 
    public String 10f reqTokenInsen (List<String> lines) { 
    		HashMap<String, Integer> map = new HashMap<String, Integer>();
    		for (int value = 0; value < lines.size(); value++) {
    			String line = lines.get(value);
    		for (int item = 0; item < line.length(); item++) { 
    			String temp = line.get(item);
    			Integer tempVal = map.get(temp);
    			if (tempVal != null) {
    			map.put(temp, new Integer(tempVal + 1));
    			}
    			else {
    			tempVal = 1;
    			}	
    		}
    		public String formatMostToLeast(List<String> lines) {
    		}
    public String 10L FreqTokenInsen { 
    	
    }